<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <ResultsDirectory>..\..\TestResults</ResultsDirectory>
  </RunConfiguration>
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="trx" enabled="True">
        <Configuration>
          <LogFileName>TestResults.trx</LogFileName>
        </Configuration>
      </Logger>
    </Loggers>
  </LoggerRunSettings>
  <!-- xUnit.net configuration -->
  <xUnit>
    <!-- Stop running further tests once a test has failed -->
    <StopOnFail>true</StopOnFail>
    <!-- Disable parallel test execution for predictable order -->
    <ParallelizeTestCollections>false</ParallelizeTestCollections>
    <ParallelizeAssembly>false</ParallelizeAssembly>
  </xUnit>
</RunSettings>
