# Misc
.DS_Store
.fleet

# VS
.vs

# VSC
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/

# IntelliJ
.idea

# Logs
logs
*.log

# Local env files
.env
.env.*
!.env.example

# Build output
.output
build
bin
debug
decompiled

# Decompiler version file
/version.txt

# Extra mods
mods

# Resharper personal layer
JunimoMods.sln.DotSettings